
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Product Management", "Index", "ProductA",null, new { @class = "btn btn-success" })
@Html.ActionLink("Category Management", "Index", "Category",null, new { @class = "btn btn-success" })
@Html.ActionLink("Author Management", "Index", "Author",null, new { @class = "btn btn-success" })
@Html.ActionLink("Publisher Management", "Index", "Publisher",null, new { @class = "btn btn-success" })
@Html.ActionLink("Shipper Management", "Index", "Shipper",null, new { @class = "btn btn-success" })
@Html.ActionLink("Employee Management", "Index", "Employee",null, new { @class = "btn btn-success" })
<hr />
@Html.ActionLink("Dealer Management", "Index", "Dealer",null, new { @class = "btn btn-success" })