@model List<Shipper>
@{
    ViewBag.Title = "Shipper Controller";
}

<h2>Shipper Index</h2>

@Html.ActionLink("New Shipper", "Insert", "Shipper", null, new { @class = "btn btn-default" })
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Phone</th>
            <th>Status</th>
            <th>####</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Shipper item in Model)
        {
            <tr>
                <td>@item.CompanyName</td>
                <td>@item.ContactName</td>
                <td>@item.Phone</td>
                <td>@item.Status</td>
                <td>
                    @Html.ActionLink("Update", "Update", "Shipper", new { id = item.ID }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "Delete", "Shipper", new { id = item.ID }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>

