@model List<Address>

@{
    ViewBag.Title = "Index";
}

<h2>Address Index</h2>

@Html.ActionLink("New Address", "Insert", "Address", null, new { @class = "btn btn-default" })
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>Street Name</th>
            <th>Postal Code</th>
            <th>City</th>
            <th>Country</th>
            <th>####</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Address item in Model)
        {
            <tr>
                <td>@item.Street</td>
                <td>@item.PostalCode</td>
                <td>@(item.City!=null ? item.City.CityName:"-") </td>
                <td>@(item.City!=null ? item.City.Country.CountryName:"-" )</td>
                <td>
                    @Html.ActionLink("Update", "Update", "Address", new { id = item.ID }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Delete", "Delete", "Address", new { id = item.ID }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>
