@model Tuple<List<Category>,Book,List<Book>>

@{
    ViewBag.Title = "Product Detail";
}

<body>
    <div class="wrapper-area">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Add your site or application content here -->
        <!-- Inner Page Banner Area Start Here -->
        <div class="inner-page-banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb-area">
                            <h1>Book Details</h1>
                            <ul>
                                <li><a href="#">Home</a> /</li>
                                <li>@Model.Item2.Category.Name /</li>
                                <li>@Model.Item2.Title Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Page Banner Area End Here -->
        <!-- Product Details1 Area Start Here -->
        <div class="product-details1-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 col-md-push-3">
                        <div class="inner-shop-details">
                            <div class="product-details-info-area">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inner-product-details-left">
                                            <div class="tab-content">
                                                <div class="tab-pane fade active in" id="related1">
                                                    <a href="#" class="zoom ex1"><img alt="single" src="~/Content/uploads/@Model.Item2.ImagePath" class="img-responsive"></a>
                                                </div>
                                                <div class="tab-pane fade" id="related2">
                                                </div>
                                                <div class="tab-pane fade" id="related3">
                                                </div>
                                            </div>
                                            <ul>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inner-product-details-right">
                                            <h3>@Model.Item2.Title</h3>
                                            <ul>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            </ul>
                                            <p class="price">$@Model.Item2.UnitPrice</p>
                                            <p>@Model.Item2.Description</p>
                                            <div class="product-details-content">                                               
                                                <p><span>Page No:</span> @(Model.Item2.PageNo!=null ? Model.Item2.PageNo.ToString():"") </p>
                                                <p><span>Availability:</span>In stock</p>
                                                <p><span>Category:</span>@Model.Item2.Category.Name </p>
                                            </div>
                                            <form id="checkout-form">
                                                <ul class="more-option">
                                                    <li>    </li>
                                                    <li>    </li>
                                                </ul>
                                                <ul class="inner-product-details-cart">
                                                    <li>
                                                        <div class="input-group quantity-holder" id="quantity-holder">
                                                            <input type="text" name='quantity' class="form-control quantity-input" value="1" placeholder="1">
                                                            <div class="input-group-btn-vertical">
                                                                <button class="btn btn-default quantity-plus" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                                <button class="btn btn-default quantity-minus" type="button"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li><a href="@Url.Action("AddToCart","ShoppingCart", new { id= Model.Item2.ID })">Add To Cart</a></li>
                                                    <li><a href="#"><i aria-hidden="true" class="fa fa-heart-o"></i></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </form>
                                            <ul class="product-details-social">
                                                <li>Share on:</li>
                                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-details-tab-area">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <ul>
                                            <li class="active"><a href="#description" data-toggle="tab" aria-expanded="false">Description</a></li>
                                            <li><a href="#review" data-toggle="tab" aria-expanded="false">Review(0)</a></li>
                                            <li><a href="#add-tags" data-toggle="tab" aria-expanded="false">ADD TAGS</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="tab-content">
                                            <div class="tab-pane fade active in" id="description">
                                                <p>@Model.Item2.Description</p>
                                            </div>
                                            <div class="tab-pane fade" id="review">
                                                <p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                                            </div>
                                            <div class="tab-pane fade" id="add-tags">
                                                <p>Porem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="featured-products-area2">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h2 class="title-carousel">Featured Products</h2>
                                    </div>
                                </div>
                                <div class="metro-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-autoplay-timeout="10000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="2" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="2" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="3" data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="3" data-r-large-nav="true" data-r-large-dots="false">
                                    @foreach (Book b in Model.Item3)
                                    {
                                        <div class="product-box1">
                                            <ul class="product-social">
                                                <li><a href="@Url.Action("AddToCart","ShoppingCart", new { id= b.ID })"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></li>
                                                <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
                                            </ul>
                                            <div class="product-img-holder">
                                                <a href="#"><img src="~/Content/uploads/@b.ImagePath" alt="product"></a>
                                            </div>
                                            <div class="product-content-holder">
                                                <h3><a href="#">@b.Title</a></h3>
                                                <span>$@b.UnitPrice</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-md-pull-9">
                        <div class="sidebar hidden-before-tab">
                            <div class="category-menu-area sidebar-section-margin" id="category-menu-area">
                                <h2 class="title-sidebar">SHOP BY CATEGORY</h2>
                                <ul>
                                    @foreach (Category c in Model.Item1)
                                    {

                                        if (c.SubCategoryOf != null)
                                        {
                                            continue;
                                        }

                                        <li>
                                            <a href="@Url.Action("Products","Home", new { id=c.ID })"><i class="flaticon-reload"></i>@c.Name<span><i class="flaticon-next"></i></span></a>
                                            <ul class="dropdown-menu">
                                                @{
                                                    List<Category> sc = new List<Category>();
                                                    sc = Model.Item1.FindAll(m => m.SubCategoryOf == c.ID);
                                                }
                                                @foreach (Category sub in sc)
                                                {
                                                    <li><a href="@Url.Action("Products","Home", new { id=sub.ID })">@sub.Name</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                            <div class="filter-by-price sidebar-section-margin">
                            </div>
                            <div class="best-products sidebar-section-margin">
                                <h2 class="title-sidebar">BEST PRODUCTS</h2>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img alt="Media Object" src="~/Content/img/sidebar/1.jpg" class="img-responsive">
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading"><a href="#">Product Title Here</a></h3>
                                        <p><span>$99</span>$85</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img alt="Media Object" src="~/Content/img/sidebar/2.jpg" class="img-responsive">
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading"><a href="#">Product Title Here</a></h3>
                                        <p><span>$99</span>$85</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img alt="Media Object" src="~/Content/img/sidebar/3.jpg" class="img-responsive">
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading"><a href="#">Product Title Here</a></h3>
                                        <p><span>$99</span>$85</p>
                                    </div>
                                </div>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img alt="Media Object" src="~/Content/img/sidebar/4.jpg" class="img-responsive">
                                    </a>
                                    <div class="media-body">
                                        <h3 class="media-heading"><a href="#">Product Title Here</a></h3>
                                        <p><span>$99</span>$85</p>
                                    </div>
                                </div>
                            </div>
                            <div class="product-tags sidebar-section-margin">
                                <h2 class="title-sidebar">Product Tags</h2>
                                <ul>
                                    <li><a href="#">@Model.Item2.Title</a></li>
                                    <li><a href="#">@Model.Item2.Category.Name</a></li>
                                    <li><a href="#">@Model.Item2.Author.AuthorLabel</a></li>
                                    <li><a href="#">@Model.Item2.Publisher.CompanyName</a></li>
                                    <li><a href="#">Books</a></li>
                                    <li><a href="#">Best-Sellers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details1 Area End Here -->
    </div>
</body>


<!-- Modal Dialog Box Start Here-->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-body">
            <button type="button" class="close myclose" data-dismiss="modal">&times;</button>
            <div class="product-details1-area">
                <div class="product-details-info-area">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-product-details-left">
                                <div class="tab-content">
                                    <div id="metro-related1" class="tab-pane fade active in">
                                        <a href="#"><img class="img-responsive" src="~/Content/img/product/product-details1.jpg" alt="single"></a>
                                    </div>
                                    <div id="metro-related2" class="tab-pane fade">
                                        <a href="#"><img class="img-responsive" src="~/Content/img/product/product-details1.jpg" alt="single"></a>
                                    </div>
                                    <div id="metro-related3" class="tab-pane fade">
                                        <a href="#"><img class="img-responsive" src="~/Content/img/product/product-details1.jpg" alt="single"></a>
                                    </div>
                                </div>
                                <ul>
                                    <li class="active">
                                        <a aria-expanded="false" data-toggle="tab" href="#metro-related1"><img class="img-responsive" src="~/Content/img/product/product-details4.jpg" alt="related1"></a>
                                    </li>
                                    <li>
                                        <a aria-expanded="false" data-toggle="tab" href="#metro-related2"><img class="img-responsive" src="~/Content/img/product/product-details4.jpg" alt="related2"></a>
                                    </li>
                                    <li>
                                        <a aria-expanded="false" data-toggle="tab" href="#metro-related3"><img class="img-responsive" src="~/Content/img/product/product-details4.jpg" alt="related3"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="inner-product-details-right">
                                <h3>Product Title Here</h3>
                                <ul>
                                    <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                    <li><i aria-hidden="true" class="fa fa-star"></i></li>
                                </ul>
                                <p class="price">$59.00</p>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tinc amet risus consectetur, non consectetur nisl finibus. Ut ac eros quis mi volutpat cursus vel non risus.</p>
                                <div class="product-details-content">
                                    <p><span>SKU:</span> 0010</p>
                                    <p><span>Availability:</span> In stock</p>
                                    <p><span>Category:</span> Demo Products</p>
                                </div>
                                <ul class="product-details-social">
                                    <li>Share:</li>
                                    <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i aria-hidden="true" class="fa fa-pinterest"></i></a></li>
                                </ul>
                                <ul class="inner-product-details-cart">
                                    <li><a href="#">Add To Cart</a></li>
                                    <li>
                                        <div class="input-group quantity-holder" id="quantity-holder">
                                            <input type="text" placeholder="1" value="1" class="form-control quantity-input" name="quantity">
                                            <div class="input-group-btn-vertical">
                                                <button type="button" class="btn btn-default quantity-plus"><i aria-hidden="true" class="fa fa-plus"></i></button>
                                                <button type="button" class="btn btn-default quantity-minus"><i aria-hidden="true" class="fa fa-minus"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                    <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn-services-shop-now" data-dismiss="modal">Close</a>
        </div>
    </div>
</div>


